[Desktop Entry]
Type=Application
Name=Video Downloader
Comment=Download public videos from YouTube, Instagram, Facebook and TikTok
Exec=video-downloader
Icon=video-downloader
Terminal=false
Categories=AudioVideo;Utility;Network;
